@import url(./00_common.css);
// common.css
#main {
  width: 100%;
  position: relative;
  background-color: #000;
  transition: 1000ms;
  z-index: 3;
  transform: translate3d(0, 0, 0);
  // visual
  .visual {
    width: 100%;
    position: relative;
    perspective: 1200px;
    z-index: 1;
    overflow: hidden;
    .visual-wrapper {
      display: flex;
      transform-style: preserve-3d;
      .visual_container {
        flex-shrink: 0;
        width: 100%;
        picture {
          display: block;
          height: 125vh;
          overflow: hidden;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
              0deg,
              #000 0%,
              rgba(0, 0, 0, 0.3) 20%,
              rgba(0, 0, 0, 0) 100%
            );
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.6);
          }
        }
        .visual-text-box {
          width: 100%;
          height: 100vh;
          position: absolute;
          top: 0;
          left: 0;
          padding: 0 8.5%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          z-index: 1;
          h2 {
            font-size: 4.375em;
            line-height: 1.11429em;
            letter-spacing: 3px;
            font-weight: 100;
            margin-bottom: 20px;
            text-transform: uppercase;
            z-index: 1;
            overflow: hidden;
            span {
              display: inline-block;
              opacity: 0;
              font-family: "BDT";
              color: #fff;
              padding: 2px;
            }
          }
          .spanTxt1 {
            span:nth-child(4),
            span:nth-child(8),
            span:nth-child(24),
            span:nth-child(28) {
              white-space: pre-wrap;
            }
            span:nth-child(16) {
              display: inline;
            }
          }
          .spanTxt4{
            span:nth-child(5),
            span:nth-child(9),
            span:nth-child(25)
            {
              white-space: pre-wrap;
            }
            span:nth-child(20){
              display: inline;
            }
          }
          .spanTxt5{
            span:nth-child(5),
            span:nth-child(7),
            span:nth-child(16),
            span:nth-child(22),
            span:nth-child(26)
            {
              white-space: pre-wrap;
            }
            span:nth-child(13){
              display: inline;
            }
          }
          .spanTxt6{
            span:nth-child(11),
            span:nth-child(32),
            span:nth-child(35),
            span:nth-child(39)
            {
              white-space: pre-wrap;
            }
            span:nth-child(20){
              display: inline;
            }
          }
          p:nth-of-type(1) {
            font-size: 24px;
            line-height: 32px;
            color: #fff;
            margin-bottom: 70px;
            z-index: 1;
            font-weight: 100;
            font-family: "Roboto1";
            opacity: 0;
          }
          .button01 {
            z-index: 1;
            a {
              display: inline-block;
              background: transparent;
              border: 1px solid white;
              padding: 10px 40px;
              color: #fff;
              margin-bottom: 100px;
              text-transform: uppercase;
              font-size: 13px;
              letter-spacing: 2px;
              opacity: 0;
            }
          }
        }
      }
      .containerItem01 {
        z-index: 6;
      }
      .containerItem02 {
        z-index: 5;
      }
      .containerItem03 {
        z-index: 4;
      }
      .containerItem04 {
        z-index: 3;
      }
      .containerItem05 {
        z-index: 2;
      }
      .containerItem05 {
        z-index: 1;
      }
    }
    .swiper {
      position: absolute;
      top: calc(100vh - 60px);
      left: 8.5%;
      opacity: 0;
      .pagination {
        li:nth-child(1) {
          margin: 0;
          background: #fff;
        }
        li {
          display: inline-block;
          width: 7px;
          height: 7px;
          border: 1px solid white;
          background: transparent;
          border-radius: 50%;
          box-sizing: border-box;
          margin-left: 15px;
          &.active {
            background-color: #f00;
          }
        }
      }
    }
    .follower {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 50px;
      height: 50px;
      padding: 18px;
      border-radius: 50%;
      z-index: 10;
      border: 1px solid rgba(255, 255, 255, 0.5);
      transform: translate(-50%, -50%);
      transition: 80ms;
      pointer-events: none;
      .arrow {
        display: block;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.5);
        transform-origin: 50% 50%;
        transition: 250ms;
      }
    }
  }
  // content01
  .content01-container {
    padding: 120px 0 20px 0;
    // 패딩 위아래 120에서 탑80으로 바꿈
    .content01-text {
      max-width: 1280px;
      margin: auto;
      padding: 0 40px;
      .content01-text-box {
        h2 {
          font-size: 1em;
          line-height: 1.3125em;
          font-weight: 400;
          margin-bottom: 10px;
          opacity: 0;
        }
        p:nth-of-type(1) {
          font-size: 1.625em;
          line-height: 1.385em;
          font-weight: 300;
          opacity: 0;
        }
        .button01 a {
          display: inline-block;
          background: transparent;
          border: 1px solid;
          padding: 10px 40px;
          text-transform: uppercase;
          font-size: 13px;
          letter-spacing: 2px;
          margin-top: 30px;
          opacity: 0;
        }
      }
    }
    .content01-img01 {
      max-width: 1280px;
      margin: 100px auto;
      padding: 0 40px;
      box-sizing: border-box;
      overflow: hidden;
      picture {
        display: block;
        padding-bottom: 49.48%;
        position: relative;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  // content02
  .content02-container {
    padding-bottom: 120px;
    .content02-item01 {
      max-width: 1280px;
      margin: auto;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
      .text-box01 {
        flex-basis: 42.6%;
        h2 {
          font-size: 2.5em;
          line-height: 1.075em;
          margin-bottom: 30px;
          font-weight: 100;
        }
        p:nth-of-type(1) {
          font-size: 1em;
          line-height: 1.0625em;
          font-weight: 400;
          letter-spacing: 0.5px;
          margin-bottom: 6px;
          font-family: "BDT";
          text-transform: uppercase;
        }
        p:nth-of-type(2) {
          font-size: 1.25em;
          line-height: 1.5em;
          font-weight: 300;
        }
        .button01 a {
          display: inline-block;
          background: transparent;
          border: 1px solid;
          padding: 10px 40px;
          // color: #000;
          text-transform: uppercase;
          font-size: 0.8125em;
          letter-spacing: 2px;
          margin-top: 30px;
        }
      }
      .content02-img01 {
        flex-shrink: 0;
        flex-basis: 51.6%;
        width: 51.6%;
        picture {
          display: block;
          position: relative;
          width: 100%;
          padding-bottom: 100%;
          img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .content02-item02 {
      max-width: 1280px;
      margin: auto;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .text-box02 {
        flex-basis: 42.6%;
        h2 {
          font-size: 2.5em;
          line-height: 1.075em;
          margin-bottom: 30px;
          font-weight: 100;
        }
        p:nth-of-type(1) {
          font-size: 1em;
          line-height: 1.0625em;
          font-weight: 400;
          letter-spacing: 0.5px;
          margin-bottom: 6px;
          font-family: "BDT";
          text-transform: uppercase;
        }
        p:nth-of-type(2) {
          font-size: 1.25em;
          line-height: 1.5em;
          font-weight: 300;
        }
        .button01 a {
          display: inline-block;
          background: transparent;
          border: 1px solid;
          padding: 10px 40px;
          text-transform: uppercase;
          font-size: 0.8125em;
          letter-spacing: 2px;
          margin-top: 30px;
        }
      }
      .content02-img02 {
        flex-shrink: 0;
        flex-basis: 51.6%;
        width: 51.6%;
        picture {
          display: block;
          position: relative;
          width: 100%;
          padding-bottom: 100%;
          img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  // content03
  .content03-container {
    padding-bottom: 120px;
    .content03-item01 {
      max-width: 1280px;
      margin: auto;
      padding: 0 40px;
      .content03-text {
        opacity: 0;
        h3 {
          font-size: 1.17em;
          font-weight: 400;
          text-align: center;
        }
        h2 {
          max-width: 740px;
          margin: 0 auto 40px;
          font-size: 2.5em;
          line-height: 1.075em;
          text-align: center;
          color: black;
          font-weight: normal;
        }
        p:nth-of-type(1) {
          max-width: 740px;
          margin: 0 auto;
          font-size: 1.5em;
          line-height: 1.33em;
          font-weight: 300;
          text-align: center;
        }
        .button01 {
          text-align: center;
          a {
            opacity: 0;
            display: inline-block;
            background: transparent;
            border: 1px solid;
            padding: 10px 40px;
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 2px;
            margin-top: 40px;
          }
        }
      }
      .content03-img01 {
        max-width: 1280px;
        margin-top: 120px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  // content04
  .content04-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    .content04-bg {
      width: 100%;
      height: 100vh;
      img:nth-child(1) {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: none;
      }
      img:nth-child(2) {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.4);
        transition: 3500ms;
      }
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      background: black;
      display: flex;
      justify-content: center;
      align-content: center;
      width: 100%;
      height: 100%;
      opacity: 0.7;
      .content04-text {
        max-width: 600px;
        margin: auto;
        text-align: center;
        p:nth-of-type(1) {
          font-size: 1em;
          line-height: 1.0625em;
          font-family: "BDT";
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          margin-bottom: 10px;
        }
        h2 {
          font-size: 2.5em;
          line-height: 1.075em;
          margin-bottom: 30px;
          font-weight: 400;
          color: #fff;
        }
        p:nth-of-type(2) {
          font-size: 1.25em;
          line-height: 1.5em;
          font-weight: 300;
          color: #fff;
        }
        .button01 {
          text-align: center;
          a {
            display: inline-block;
            background: transparent;
            border: 1px solid white;
            padding: 10px 40px;
            color: #fff;
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 2px;
            margin-top: 40px;
          }
        }
      }
    }
  }
  .content05-container {
    padding: 120px 0;
    text-align: center;
    .content05-item {
      max-width: 1280px;
      padding: 0 40px;
      margin: auto;
      .content05-text {
        p {
          opacity: 0;
          font-size: 1em;
          line-height: 1.0625em;
          letter-spacing: 0.5px;
          font-family: "BDT";
          text-transform: uppercase;
        }
        h2 {
          opacity: 0;
          margin-top: 10px;
          font-size: 2.5em;
          line-height: 1.075em;
          font-weight: 400;
        }
      }
      .content05-img-swiper {
        margin-top: 60px;
        .contents-wrapper {
          display: flex;
          width: 100%;
          height: 100%;
          overflow: hidden;
          .item01 {
            opacity: 0;
            margin-right: 40px;
            padding-bottom: 130px;
            flex-shrink: 0;
            width: 45%;
            min-width: 340px;
            position: relative;
            picture {
              position: relative;
              display: block;
              padding-bottom: 70%;
              img {
                display: block;
                width: 100%;
                /* padding-bottom: 70%; */
                height: 100%;
                position: absolute;
              }
            }
            .text1 {
              margin-top: 60px;
              h4 {
                font-size: 1.875em;
                line-height: 1.2666em;
                font-style: italic;
                font-weight: 400;
              }
              p {
                margin-top: 20px;
                text-transform: uppercase;
                font-size: 1em;
                line-height: 1.0625em;
                letter-spacing: 0.5px;
                font-weight: 400;
              }
            }
          }
          .item02 {
            opacity: 0;
            margin-right: 40px;
            padding-bottom: 130px;
            flex-shrink: 0;
            width: 45%;
            min-width: 340px;
            position: relative;
            &::before {
              content: "";
              display: block;
              width: 1px;
              background: rgba(0, 0, 0, 0.1);
              height: 100%;
              position: absolute;
              top: 0;
              left: -20px;
            }
            picture {
              position: relative;
              display: block;
              padding-bottom: 70%;
              img {
                display: block;
                width: 100%;
                /* padding-bottom: 70%; */
                height: 100%;
                position: absolute;
              }
            }
            .text2 {
              margin-top: 60px;
              h4 {
                font-size: 1.875em;
                line-height: 1.2666em;
                font-style: italic;
                font-weight: 400;
              }
              p {
                margin-top: 20px;
                text-transform: uppercase;
                font-size: 1em;
                line-height: 1.0625em;
                letter-spacing: 0.5px;
                font-weight: 400;
              }
            }
          }
          .item03 {
            opacity: 0;
            margin-right: 40px;
            padding-bottom: 130px;
            flex-shrink: 0;
            width: 45%;
            min-width: 340px;
            position: relative;
            &::before {
              content: "";
              display: block;
              width: 1px;
              background: rgba(0, 0, 0, 0.1);
              height: 100%;
              position: absolute;
              top: 0;
              left: -20px;
            }
            picture {
              position: relative;
              display: block;
              padding-bottom: 70%;
              img {
                display: block;
                width: 100%;
                /* padding-bottom: 70%; */
                height: 100%;
                position: absolute;
              }
            }
            .text3 {
              margin-top: 60px;
              h4 {
                font-size: 1.875em;
                line-height: 1.2666em;
                font-style: italic;
                font-weight: 400;
              }
              p {
                margin-top: 20px;
                text-transform: uppercase;
                font-size: 1em;
                line-height: 1.0625em;
                letter-spacing: 0.5px;
                font-weight: 400;
              }
            }
          }
          .item04 {
            opacity: 0;
            margin-right: 40px;
            padding-bottom: 130px;
            flex-shrink: 0;
            width: 45%;
            min-width: 340px;
            position: relative;
            &::before {
              content: "";
              display: block;
              width: 1px;
              background: rgba(0, 0, 0, 0.1);
              height: 100%;
              position: absolute;
              top: 0;
              left: -20px;
            }
            picture {
              position: relative;
              display: block;
              padding-bottom: 70%;
              img {
                display: block;
                width: 100%;
                /* padding-bottom: 70%; */
                height: 100%;
                position: absolute;
              }
            }
            .text4 {
              margin-top: 60px;
              h4 {
                font-size: 1.875em;
                line-height: 1.2666em;
                font-style: italic;
                font-weight: 400;
              }
              p {
                margin-top: 20px;
                text-transform: uppercase;
                font-size: 1em;
                line-height: 1.0625em;
                letter-spacing: 0.5px;
                font-weight: 40;
              }
            }
          }
          .item05 {
            opacity: 0;
            height: auto;
            margin-right: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-shrink: 0;
            width: 45%;
            min-width: 340px;
            position: relative;
            &::before {
              content: "";
              display: block;
              width: 1px;
              background: rgba(0, 0, 0, 0.1);
              height: 100%;
              position: absolute;
              top: 0;
              left: -20px;
            }
            .text5 {
              position: relative;
              padding-bottom: 70%;
              .text5-inner {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                p:nth-of-type(1) {
                  font-size: 1.875em;
                  line-height: 1.266em;
                  font-family: "BDT";
                  font-style: italic;
                  font-weight: 400;
                }
                .button01 {
                  text-align: center;
                  a {
                    display: inline-block;
                    background: transparent;
                    border: 1px solid;
                    padding: 10px 40px;
                    text-transform: uppercase;
                    font-size: 13px;
                    letter-spacing: 2px;
                    margin-top: 40px;
                  }
                }
              }
            }
            .text6 {
              opacity: 0;
              height: 100%;
              background: #f8f5f3;
              .text6-inner {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                p:nth-of-type(1) {
                  font-size: 1.875em;
                  line-height: 1.266em;
                  font-family: "BDT";
                  font-style: italic;
                  font-weight: 400;
                }
                .button01 {
                  text-align: center;
                  a {
                    display: inline-block;
                    background: transparent;
                    border: 1px solid;
                    padding: 10px 40px;
                    font-size: 13px;
                    letter-spacing: 2px;
                    margin-top: 40px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 50px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes revealOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
// responsive
@import "_01_media_index";
