@import url(./00_common.css);
// common.css
@import url(./00_common.css);
// common.css
#main {
  width: 100%;
  position: relative;
  background: #000;
  transition: 1000ms;
  z-index: 3;
  transform: translate3d(0, 0, 0);
  // visual
  .visual {
    width: 100%;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      background: linear-gradient(
        0deg,
        #000 0%,
        rgba(0, 0, 0, 0.3) 20%,
        rgba(0, 0, 0, 0) 100%
      );
    }
    .visual_container {
      z-index: 6;
      picture {
        display: block;
        height: 125vh;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .visual-text-box {
        width: 100%;
        position: absolute;
        top: 41.3%;
        left: 0;
        padding: 0 8.5%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        z-index: 1;
        h2 {
          font-size: 4.375em;
          line-height: 1.11429em;
          letter-spacing: 3px;
          font-weight: 100;
          margin-bottom: 20px;
          z-index: 1;
          overflow: hidden;
          span {
            display: inline-block;
            opacity: 0;
            font-family: "BDT";
            color: #fff;
            padding: 2px;
          }
        }
        p:nth-of-type(1) {
          font-size: 0.875em;
          line-height: 1.35714em;
          color: #fff;
          margin-bottom: 15px;
          z-index: 1;
          opacity: 0;
          animation: fadeInUp 400ms 800ms 1 both;
        }
        p:nth-of-type(2) {
          font-size: 1.5em;
          line-height: 1.33333em;
          color: #fff;
          margin-bottom: 70px;
          z-index: 1;
          opacity: 0;
          animation: fadeInUp 400ms 1000ms 1 both;
        }
      }
    }
    .visual-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #000;
      opacity: 0.4;
    }
  }
  .content01-container {
    margin: 120px 0;
    // 패딩 위아래 120에서 탑80으로 바꿈
    .content01-text {
      max-width: 1200px;
      margin: auto;
      padding: 0 40px;
      .content01-text-box {
        p {
          font-size: 1.5em;
          line-height: 1.333em;
          font-weight: 300;
          font-family: "Roboto2";
        }
      }
    }
  }
  .content02-container {
    position: relative;
    padding: 0 40px;
    max-width: 1200px;
    margin: auto;
    .content02-menu {
      //   background: #000;
      //   bgcolor 수정해야됨
      border-bottom: 1px solid #d4d4d4;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 2;
      padding: 30px 40px;
      ul {
        display: flex;
        text-align: left;
      }
      li {
        padding-right: 40px;
        a {
          font-size: 0.9375em;
          letter-spacing: 1px;
        }
      }
    }
    .content02-projects {
      margin-top: 120px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .content02-projects-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // flex: grow, shrink, basis;
        flex: 0 0 100%;
        .content02-project1 {
          flex: 0 0 45%;
          width: 45%;
          margin-bottom: 80px;
          position: relative;
          a {
            div {
              position: relative;
              background: #000;
              z-index: 1;
          
              // 수정중
              picture {
                img {
                  width: 100%;
                  height: 100%;
                  opacity: 0.5;
                  object-fit: cover;
                }
              }
            }
            .content02-textBox1 {
              max-width: calc(100% - 100px);
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 100%;
              height: auto;
              text-align: center;
              z-index: 1;
              background: transparent;
              p:first-child {
                font-size: 1em;
                line-height: 1.0625em;
                margin-bottom: 10px;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                color: #fff;
                font-family: "BDT";
              }
              h2 {
                font-size: 2.5em;
                line-height: 1.075em;
                font-family: "BDT";
                font-weight: 100;
                color: #fff;
              }
              p:last-child {
                margin-top: 16px;
                font-size: 0.8125em;
                letter-spacing: 0.5px;
                color: #fff;
              }
            }
          }
        }
      }
    }
    .button01 {
      text-align: center;
      a {
        display: inline-block;
        background: transparent;
        border: 1px solid black;
        padding: 10px 40px;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 2px;
        margin-top: 40px;

        margin-bottom: 120px;
      }
    }
  }
}
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 50px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes revealOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@import "_03_media_project";
