@import url(./00_common.css);
#main {
  width: 100%;
  position: relative;
  background: #000;
  transition: 1000ms;
  z-index: 3;
  transform: translate3d(0, 0, 0);
}
#main .visual {
  width: 100%;
  position: relative;
}
#main .visual:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0) 100%);
}
#main .visual .visual_container {
  z-index: 6;
}
#main .visual .visual_container picture {
  display: block;
  height: 125vh;
  overflow: hidden;
  position: relative;
}
#main .visual .visual_container picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: decreaseScale 2000ms 0ms 1 ease-in-out;
          animation: decreaseScale 2000ms 0ms 1 ease-in-out;
}
#main .visual .visual_container .visual-text-box {
  width: 100%;
  position: absolute;
  top: 41.3%;
  left: 0;
  padding: 0 8.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
}
#main .visual .visual_container .visual-text-box h2 {
  font-size: 4.375em;
  line-height: 1.11429em;
  letter-spacing: 3px;
  font-weight: 100;
  margin-bottom: 20px;
  z-index: 1;
  overflow: hidden;
}
#main .visual .visual_container .visual-text-box h2 span {
  display: inline-block;
  opacity: 0;
  font-family: "BDT";
  color: #fff;
  padding: 2px;
}
#main .visual .visual_container .visual-text-box p:nth-of-type(1) {
  font-size: 0.875em;
  line-height: 1.35714em;
  color: #fff;
  margin-bottom: 15px;
  z-index: 1;
  opacity: 0;
  -webkit-animation: fadeInUp 400ms 800ms 1 both;
          animation: fadeInUp 400ms 800ms 1 both;
}
#main .visual .visual_container .visual-text-box p:nth-of-type(2) {
  font-size: 1.5em;
  line-height: 1.33333em;
  color: #fff;
  margin-bottom: 70px;
  z-index: 1;
  opacity: 0;
  -webkit-animation: fadeInUp 400ms 1000ms 1 both;
          animation: fadeInUp 400ms 1000ms 1 both;
}
#main .visual .visual-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.4;
}
#main .content01-container {
  padding-top: 120px;
}
#main .content01-container .content01-text {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
}
#main .content01-container .content01-text .content01-text-box {
  max-width: 740px;
  margin: 0 auto;
  opacity: 0;
}
#main .content01-container .content01-text .content01-text-box p {
  font-size: 1.5em;
  line-height: 1.333em;
  text-align: center;
  font-weight: 300;
}
#main .content02-container {
  margin: 120px 0;
}
#main .content02-container .content02-item01 {
  max-width: 1280px;
  margin: auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
#main .content02-container .content02-item01 .text-box01 {
  flex-basis: 42.6%;
}
#main .content02-container .content02-item01 .text-box01 p {
  opacity: 0;
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: 100;
  font-family: "Roboto1";
}
#main .content02-container .content02-item01 .text-box01 .button01 a {
  display: inline-block;
  background: transparent;
  border: 1px solid black;
  padding: 10px 40px;
  text-transform: uppercase;
  font-size: 0.8125em;
  letter-spacing: 2px;
  margin-top: 30px;
}
#main .content02-container .content02-item01 .content02-img01 {
  flex-shrink: 0;
  flex-basis: 51.6%;
  width: 51.6%;
}
#main .content02-container .content02-item01 .content02-img01 picture {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
#main .content02-container .content02-item01 .content02-img01 picture img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .content02-container .content02-item02 {
  max-width: 1280px;
  margin: 120px auto 0;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main .content02-container .content02-item02 .text-box02 {
  flex-basis: 42.6%;
}
#main .content02-container .content02-item02 .text-box02 p {
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: 100;
  font-family: "Roboto1";
  opacity: 0;
}
#main .content02-container .content02-item02 .text-box02 .button01 a {
  display: inline-block;
  background: transparent;
  border: 1px solid black;
  padding: 10px 40px;
  text-transform: uppercase;
  font-size: 0.8125em;
  letter-spacing: 2px;
  margin-top: 30px;
}
#main .content02-container .content02-item02 .content02-img02 {
  flex-shrink: 0;
  flex-basis: 51.6%;
  width: 51.6%;
}
#main .content02-container .content02-item02 .content02-img02 picture {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}
#main .content02-container .content02-item02 .content02-img02 picture img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .content03-container {
  margin: 120px 0;
}
#main .content03-container .content03-text {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;
}
#main .content03-container .content03-text .content03-text-box {
  max-width: 740px;
  margin: 0 auto;
}
#main .content03-container .content03-text .content03-text-box p {
  font-size: 1.5em;
  line-height: 1.333em;
  text-align: center;
  font-weight: 300;
  opacity: 0;
}
#main .content04 {
  margin-top: 120px;
  overflow: hidden;
}
#main .content04 .content04-inner {
  max-width: 1280px;
  margin: auto;
  padding: 0 40px;
}
#main .content04 .content04-inner h2 {
  font-size: 1em;
  line-height: 1.0625em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  opacity: 0;
}
#main .content04 .content04-inner .content04-wrapper {
  margin-top: 10px;
  text-align: center;
}
#main .content04 .content04-inner .content04-wrapper .content04-swiper {
  transform: translate3d(16%, 0, 0);
  width: 100%;
  height: 100%;
  display: flex;
}
#main .content04 .content04-inner .content04-wrapper .content04-swiper .content04-swiper-active {
  width: calc(61.666% + 76px);
  max-width: 816px;
  flex-shrink: 0;
  opacity: 0;
}
#main .content04 .content04-inner .content04-wrapper .content04-swiper .content04-swiper-active.swiper-slide-active p {
  opacity: 1;
  transition: 1500ms;
}
#main .content04 .content04-inner .content04-wrapper .content04-swiper .content04-swiper-active.swiper-slide-active h3 {
  opacity: 1;
  transition: 1500ms;
}
#main .content04 .content04-inner .content04-wrapper .content04-swiper h3 {
  height: 86px;
  font-size: 2.5em;
  line-height: 1.075em;
  text-align: center;
  font-weight: 400;
  margin-bottom: 60px;
  opacity: 0;
}
#main .content04 .content04-inner .content04-wrapper .content04-swiper .content04-img01 {
  padding: 0 38px;
}
#main .content04 .content04-inner .content04-wrapper .content04-swiper .content04-img01 picture {
  padding-bottom: 62.162%;
  position: relative;
  width: 100%;
  display: block;
}
#main .content04 .content04-inner .content04-wrapper .content04-swiper .content04-img01 picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .content04 .content04-inner .content04-wrapper .content04-swiper .img01-text {
  font-size: 1.125em;
  line-height: 1.38889em;
  font-weight: 300;
  text-align: center;
  margin: 90px -38px 0 -38px;
  opacity: 0;
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 50px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 50px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes revealOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes revealOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes decreaseScale {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes decreaseScale {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@media (min-width: 360px) and (max-width: 767px) {
  #main {
    width: 100%;
    position: relative;
    background: #fff;
    z-index: 3;
    transform: translate3d(0, 0, 0);
  }
  #main .visual {
    width: 100%;
    position: relative;
  }
  #main .visual:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0) 100%);
  }
  #main .visual .visual_container {
    z-index: 6;
  }
  #main .visual .visual_container picture {
    display: block;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  #main .visual .visual_container picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #main .visual .visual_container .visual-text-box {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 8.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    align-items: center;
    height: 100%;
    text-align: center;
  }
  #main .visual .visual_container .visual-text-box h2 {
    font-size: 2em;
    line-height: 1.03125em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    margin-bottom: 10px;
    z-index: 1;
  }
  #main .visual .visual_container .visual-text-box p:nth-of-type(1) {
    font-size: 0.875em;
    line-height: 1.35714em;
    color: #fff;
    margin-bottom: 15px;
    z-index: 1;
    display: none;
  }
  #main .visual .visual_container .visual-text-box p:nth-of-type(2) {
    font-size: 1.25em;
    line-height: 1.25em;
    color: #fff;
    margin-bottom: 70px;
    z-index: 1;
  }
  #main .visual .visual-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.4;
  }
  #main .content01-container {
    padding-top: 60px;
  }
  #main .content01-container .content01-text {
    max-width: 1200px;
    margin: auto;
    padding: 0 25px;
  }
  #main .content01-container .content01-text .content01-text-box {
    max-width: 740px;
    margin: 0 auto;
  }
  #main .content01-container .content01-text .content01-text-box p {
    font-size: 1.25em;
    line-height: 1.25em;
    text-align: center;
    font-weight: 300;
  }
  #main .content02-container {
    margin: 60px auto 0;
  }
  #main .content02-container .content02-item01 {
    max-width: 1280px;
    margin: auto;
    padding: 0 25px;
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  #main .content02-container .content02-item01 .text-box01 {
    margin-top: 30px;
    flex-basis: 42.6%;
  }
  #main .content02-container .content02-item01 .text-box01 p {
    font-size: 1.125em;
    line-height: 1.38889em;
    font-weight: 300;
  }
  #main .content02-container .content02-item01 .content02-img01 {
    flex-shrink: 0;
    flex-basis: 51.6%;
    width: 100%;
  }
  #main .content02-container .content02-item01 .content02-img01 picture {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }
  #main .content02-container .content02-item01 .content02-img01 picture img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #main .content02-container .content02-item02 {
    max-width: 1280px;
    margin: 60px auto 0;
    padding: 0 25px;
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  #main .content02-container .content02-item02 .text-box02 {
    margin-top: 30px;
    flex-basis: 42.6%;
  }
  #main .content02-container .content02-item02 .text-box02 p {
    font-size: 1.125em;
    line-height: 1.38889em;
    font-weight: 300;
  }
  #main .content02-container .content02-item02 .text-box02 .button01 a {
    display: inline-block;
    background: transparent;
    border: 1px solid black;
    padding: 10px 40px;
    text-transform: uppercase;
    font-size: 0.8125em;
    letter-spacing: 2px;
    margin-top: 30px;
    text-align: center;
  }
  #main .content02-container .content02-item02 .content02-img02 {
    flex-shrink: 0;
    flex-basis: 51.6%;
    width: 100%;
  }
  #main .content02-container .content02-item02 .content02-img02 picture {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }
  #main .content02-container .content02-item02 .content02-img02 picture img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #main .content03-container {
    margin: 60px 0 0 0;
  }
  #main .content03-container .content03-text {
    max-width: 1200px;
    margin: auto;
    padding: 0 25px;
  }
  #main .content03-container .content03-text .content03-text-box {
    max-width: 740px;
    margin: 0 auto;
  }
  #main .content03-container .content03-text .content03-text-box p {
    font-size: 1.25em;
    line-height: 1.25em;
    text-align: center;
    font-weight: 300;
  }
  #main .content03 {
    margin-top: 120px;
  }
  #main .content03 .content03-inner {
    max-width: 1280px;
    margin: auto;
    padding: 0 40px;
    position: relative;
  }
  #main .content03 .content03-inner h2 {
    font-size: 1em;
    line-height: 1.0625em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
  }
  #main .content03 .content03-inner .content03-wrapper {
    position: relative;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
  }
  #main .content03 .content03-inner .content03-wrapper .content03-swiper {
    transform: translate3d(16%, 0, 0);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
  }
  #main .content03 .content03-inner .content03-wrapper .content03-swiper .content03-swiper-active {
    position: relative;
    width: calc(61.666% + 76px);
    max-width: 816px;
    flex-shrink: 0;
  }
  #main .content03 .content03-inner .content03-wrapper .content03-swiper .content03-swiper-active h3 {
    height: 86px;
    font-size: 2.5em;
    line-height: 1.075em;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
  }
  #main .content03 .content03-inner .content03-wrapper .content03-swiper .content03-swiper-active .content03-img01 {
    padding: 0 38px;
    position: relative;
  }
  #main .content03 .content03-inner .content03-wrapper .content03-swiper .content03-swiper-active .content03-img01 picture {
    padding-bottom: 62.162%;
    position: relative;
    width: 100%;
    display: block;
  }
  #main .content03 .content03-inner .content03-wrapper .content03-swiper .content03-swiper-active .content03-img01 picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #main .content03 .content03-inner .content03-wrapper .content03-swiper .content03-swiper-active .img01-text {
    font-size: 1.125em;
    line-height: 1.38889em;
    font-weight: 300;
    text-align: center;
    margin: 90px -38px 0 -38px;
  }
  #main .content04 {
    margin-top: 60px;
  }
  #main .content04 .content04-inner {
    max-width: 1280px;
    margin: auto;
    padding: 0 25px;
    position: relative;
  }
  #main .content04 .content04-inner h2 {
    font-size: 0.875em;
    line-height: 1.14286em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
  }
  #main .content04 .content04-inner .content04-wrapper {
    position: relative;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
  }
  #main .content04 .content04-inner .content04-wrapper .content04-swiper {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
  }
  #main .content04 .content04-inner .content04-wrapper .content04-swiper .content04-swiper-active {
    position: relative;
    width: 100%;
    max-width: 816px;
    flex-shrink: 0;
  }
  #main .content04 .content04-inner .content04-wrapper .content04-swiper .content04-swiper-active h3 {
    height: 80px;
    font-size: 1.875em;
    line-height: 1.33333em;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;
  }
  #main .content04 .content04-inner .content04-wrapper .content04-swiper .content04-swiper-active .content04-img01 {
    padding: 0;
    position: relative;
  }
  #main .content04 .content04-inner .content04-wrapper .content04-swiper .content04-swiper-active .content04-img01 picture {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    display: block;
  }
  #main .content04 .content04-inner .content04-wrapper .content04-swiper .content04-swiper-active .content04-img01 picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #main .content04 .content04-inner .content04-wrapper .content04-swiper .content04-swiper-active .img01-text {
    font-size: 1.125em;
    line-height: 1.38889em;
    font-weight: 300;
    text-align: center;
    margin: 90px -38px 0 -38px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #main {
    width: 100%;
    position: relative;
    background: #fff;
    z-index: 3;
    transform: translate3d(0, 0, 0);
  }
  #main .visual {
    width: 100%;
    position: relative;
  }
  #main .visual:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0) 100%);
  }
  #main .visual .visual_container {
    z-index: 6;
  }
  #main .visual .visual_container picture {
    display: block;
    height: 125vh;
    overflow: hidden;
    position: relative;
  }
  #main .visual .visual_container picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #main .visual .visual_container .visual-text-box {
    width: 100%;
    position: absolute;
    top: 41.3%;
    left: 0;
    padding: 0 8.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
  }
  #main .visual .visual_container .visual-text-box h2 {
    font-size: 3.125em;
    line-height: 1.08em;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 100;
    margin-bottom: 10px;
    z-index: 1;
  }
  #main .visual .visual_container .visual-text-box p:nth-of-type(1) {
    font-size: 0.875em;
    line-height: 1.35714em;
    color: #fff;
    margin-bottom: 15px;
    z-index: 1;
  }
  #main .visual .visual_container .visual-text-box p:nth-of-type(2) {
    font-size: 1.25em;
    line-height: 1.25em;
    color: #fff;
    margin-bottom: 70px;
    z-index: 1;
  }
  #main .visual .visual-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.4;
  }
  #main .content01-container {
    padding-top: 120px;
  }
  #main .content01-container .content01-text {
    max-width: 1200px;
    margin: auto;
    padding: 0 40px;
  }
  #main .content01-container .content01-text .content01-text-box {
    max-width: 740px;
    margin: 0 auto;
  }
  #main .content01-container .content01-text .content01-text-box p {
    font-size: 1.25em;
    line-height: 1.25em;
    text-align: center;
    font-weight: 300;
  }
  #main .content02-container {
    margin: 120px 0;
  }
  #main .content02-container .content02-item01 {
    max-width: 1280px;
    margin: auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
  #main .content02-container .content02-item01 .text-box01 {
    flex-basis: 42.6%;
  }
  #main .content02-container .content02-item01 .text-box01 p {
    font-size: 1.125em;
    line-height: 1.38889em;
    font-weight: 300;
  }
  #main .content02-container .content02-item01 .text-box01 .button01 a {
    display: inline-block;
    background: transparent;
    border: 1px solid black;
    padding: 10px 40px;
    text-transform: uppercase;
    font-size: 0.8125em;
    letter-spacing: 2px;
    margin-top: 30px;
  }
  #main .content02-container .content02-item01 .content02-img01 {
    flex-shrink: 0;
    flex-basis: 51.6%;
    width: 51.6%;
  }
  #main .content02-container .content02-item01 .content02-img01 picture {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }
  #main .content02-container .content02-item01 .content02-img01 picture img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #main .content02-container .content02-item02 {
    max-width: 1280px;
    margin: 120px auto 0;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #main .content02-container .content02-item02 .text-box02 {
    flex-basis: 42.6%;
  }
  #main .content02-container .content02-item02 .text-box02 p {
    font-size: 1.125em;
    line-height: 1.38889em;
    font-weight: 300;
  }
  #main .content02-container .content02-item02 .text-box02 .button01 a {
    display: inline-block;
    background: transparent;
    border: 1px solid black;
    padding: 10px 40px;
    text-transform: uppercase;
    font-size: 0.8125em;
    letter-spacing: 2px;
    margin-top: 30px;
  }
  #main .content02-container .content02-item02 .content02-img02 {
    flex-shrink: 0;
    flex-basis: 51.6%;
    width: 51.6%;
  }
  #main .content02-container .content02-item02 .content02-img02 picture {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
  }
  #main .content02-container .content02-item02 .content02-img02 picture img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #main .content03-container {
    margin: 120px 0;
  }
  #main .content03-container .content03-text {
    max-width: 1200px;
    margin: auto;
    padding: 0 40px;
  }
  #main .content03-container .content03-text .content03-text-box {
    max-width: 740px;
    margin: 0 auto;
  }
  #main .content03-container .content03-text .content03-text-box p {
    font-size: 1.25em;
    line-height: 1.25em;
    text-align: center;
    font-weight: 300;
  }
  #main .content03 {
    margin-top: 120px;
  }
  #main .content03 .content03-inner {
    max-width: 1280px;
    margin: auto;
    padding: 0 40px;
    position: relative;
  }
  #main .content03 .content03-inner h2 {
    font-size: 1em;
    line-height: 1.0625em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
  }
  #main .content03 .content03-inner .content03-wrapper {
    position: relative;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
  }
  #main .content03 .content03-inner .content03-wrapper .content03-swiper {
    transform: translate3d(16%, 0, 0);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
  }
  #main .content03 .content03-inner .content03-wrapper .content03-swiper .content03-swiper-active {
    position: relative;
    width: calc(61.666% + 76px);
    max-width: 816px;
    flex-shrink: 0;
  }
  #main .content03 .content03-inner .content03-wrapper .content03-swiper .content03-swiper-active h3 {
    height: 86px;
    font-size: 2.5em;
    line-height: 1.075em;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
  }
  #main .content03 .content03-inner .content03-wrapper .content03-swiper .content03-swiper-active .content03-img01 {
    padding: 0 38px;
    position: relative;
  }
  #main .content03 .content03-inner .content03-wrapper .content03-swiper .content03-swiper-active .content03-img01 picture {
    padding-bottom: 62.162%;
    position: relative;
    width: 100%;
    display: block;
  }
  #main .content03 .content03-inner .content03-wrapper .content03-swiper .content03-swiper-active .content03-img01 picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #main .content03 .content03-inner .content03-wrapper .content03-swiper .content03-swiper-active .img01-text {
    font-size: 1.125em;
    line-height: 1.38889em;
    font-weight: 300;
    text-align: center;
    margin: 90px -38px 0 -38px;
  }
  #main .content04 {
    margin-top: 120px;
  }
  #main .content04 .content04-inner {
    max-width: 1280px;
    margin: auto;
    padding: 0 40px;
    position: relative;
  }
  #main .content04 .content04-inner h2 {
    font-size: 0.875em;
    line-height: 1.14286em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
  }
  #main .content04 .content04-inner .content04-wrapper {
    position: relative;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
  }
  #main .content04 .content04-inner .content04-wrapper .content04-swiper {
    transform: translate3d(16%, 0, 0);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
  }
  #main .content04 .content04-inner .content04-wrapper .content04-swiper .content04-swiper-active {
    position: relative;
    width: calc(61.666% + 76px);
    max-width: 816px;
    flex-shrink: 0;
  }
  #main .content04 .content04-inner .content04-wrapper .content04-swiper .content04-swiper-active h3 {
    height: 86px;
    font-size: 1.875em;
    line-height: 1.33333em;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0;
  }
  #main .content04 .content04-inner .content04-wrapper .content04-swiper .content04-swiper-active .content04-img01 {
    padding: 0 38px;
    position: relative;
  }
  #main .content04 .content04-inner .content04-wrapper .content04-swiper .content04-swiper-active .content04-img01 picture {
    padding-bottom: 62.162%;
    position: relative;
    width: 100%;
    display: block;
  }
  #main .content04 .content04-inner .content04-wrapper .content04-swiper .content04-swiper-active .content04-img01 picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #main .content04 .content04-inner .content04-wrapper .content04-swiper .content04-swiper-active .img01-text {
    font-size: 1.125em;
    line-height: 1.38889em;
    font-weight: 300;
    text-align: center;
    margin: 90px -38px 0 -38px;
  }
}/*# sourceMappingURL=04_bespoke_main.css.map */