@import url(./00_common.css);
#main {
  width: 100%;
  position: relative;
  background: #fff;
  transition: 1000ms;
  z-index: 3;
  transform: translate3d(0, 0, 0);
}
#main .visual {
  width: 100%;
  position: relative;
}
#main .visual:after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0) 100%);
}
#main .visual .visual_container {
  z-index: 6;
}
#main .visual .visual_container picture {
  display: block;
  height: 125vh;
  overflow: hidden;
  position: relative;
}
#main .visual .visual_container picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .visual .visual_container .visual-text-box {
  width: 100%;
  position: absolute;
  top: 41.3%;
  left: 0;
  padding: 0 8.5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
}
#main .visual .visual_container .visual-text-box h2 {
  font-size: 4.375em;
  line-height: 1.11429em;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 100;
  margin-bottom: 10px;
  z-index: 1;
}
#main .visual .visual_container .visual-text-box p:nth-of-type(1) {
  font-size: 0.875em;
  line-height: 1.35714em;
  color: #fff;
  margin-bottom: 15px;
  z-index: 1;
}
#main .visual .visual_container .visual-text-box p:nth-of-type(2) {
  font-size: 1.5em;
  line-height: 1.33333em;
  color: #fff;
  margin-bottom: 70px;
  z-index: 1;
}
#main .visual .visual-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.4;
}
#main .contact-list {
  padding: 45px 0 130px;
  background: #000;
  color: #fff;
}
#main .contact-list .contact-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 40px;
  max-width: 1200px;
  margin: auto;
}
#main .contact-list .contact-inner .text-wrapper {
  flex: 0 0 33.333%;
  width: 33.333%;
  margin-top: 75px;
}
#main .contact-list .contact-inner .text-wrapper h4 {
  font-size: 1.875em;
  line-height: 1.266em;
  font-style: italic;
  color: #fff;
  font-weight: 100;
}
#main .contact-list .contact-inner .text-wrapper div {
  margin-top: 25px;
  color: #fff;
}
#main .contact-list .contact-inner .text-wrapper div p {
  color: inherit;
  line-height: 1.35em;
  font-weight: 400;
}
#main .contact-list .contact-inner .text-wrapper div a {
  color: inherit;
}
#main .webForm {
  padding: 120px;
  background: #f8f5f3;
  color: #000;
}
#main .webForm .webForm-inner {
  max-width: 890px;
  padding: 0 40px;
  margin: 0 auto;
}
#main .webForm .webForm-inner .webForm-textbox01 {
  text-align: center;
}
#main .webForm .webForm-inner .webForm-textbox01 h2 {
  margin-bottom: 10px;
  font-size: 2.5em;
  line-height: 1.075em;
  font-weight: 100;
}
#main .webForm .webForm-inner .webForm-textbox01 p {
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: 300;
}
#main .webForm .webForm-inner .form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 75px;
}
#main .webForm .webForm-inner .form .form-item1 {
  flex: 0 0 calc(50% - 20px);
  width: calc(50% - 20px);
}
#main .webForm .webForm-inner .form .form-item1 .label {
  display: block;
  margin-bottom: 8px;
  font-size: 0.8125em;
  text-transform: uppercase;
  line-height: 1.385em;
  letter-spacing: 2px;
  color: #000;
}
#main .webForm .webForm-inner .form .form-item1 .label::after {
  content: "*";
  display: inline-block;
  margin-left: 2px;
  font-size: 0.8em;
  vertical-align: super;
}
#main .webForm .webForm-inner .form .form-item1 .input,
#main .webForm .webForm-inner .form .form-item1 select {
  width: 100%;
  color: #484848;
  border: 1px solid #dcdcdc;
  height: 40px;
  font-size: 1em;
  box-sizing: border-box;
}
#main .webForm .webForm-inner .form .form-item1 select {
  padding-left: 25px;
  background: white url(../02_image/svg/expand_more_FILL0_wght400_GRAD0_opsz48.svg) no-repeat;
  background-position: right 20px center;
  background-size: 23px auto;
}
#main .webForm .webForm-inner .form .form02 {
  position: relative;
  margin-top: 58px;
}
#main .webForm .webForm-inner .form .form03 {
  margin-top: 58px;
  flex: 0 0 100%;
  width: 100%;
}
#main .webForm .webForm-inner .form .form03 div textarea {
  width: 100%;
  min-height: 200px;
  line-height: 1.25em;
  color: #484848;
  resize: vertical;
  overflow: hidden;
  resize: none;
  font-size: 1em;
  border: none;
}
#main .webForm .webForm-inner .form .declaration {
  margin-top: 50px;
}
#main .webForm .webForm-inner .form .declaration h4 {
  color: #000;
  font-weight: bold;
}
#main .webForm .webForm-inner .form .declaration h5 {
  color: #000;
  margin-top: 7px;
  font-size: 0.875em;
  text-decoration: underline;
  cursor: pointer;
}
#main .webForm .webForm-inner .form .declaration .privacy {
  margin-top: 25px;
}
#main .webForm .webForm-inner .form .declaration .privacy .privacy-text {
  margin-top: 25px;
}
#main .webForm .webForm-inner .form .declaration .privacy .privacy-text p {
  color: #000;
  font-size: 0.875em;
}
#main .webForm .webForm-inner .form .declaration .privacy .radio-wrapper {
  margin-top: 5px;
  display: flex;
}
#main .webForm .webForm-inner .form .declaration .privacy .radio-wrapper .radio-accept {
  margin-right: 0.5em;
  margin-top: 0;
  position: relative;
  cursor: pointer;
}
#main .webForm .webForm-inner .form .declaration .privacy .radio-wrapper .radio-accept input {
  cursor: pointer;
}
#main .webForm .webForm-inner .form .declaration .privacy .radio-wrapper .radio-accept label::before {
  content: "Yes";
  text-transform: uppercase;
  font-size: 0.8125em;
  padding-left: 5px;
}
#main .webForm .webForm-inner .form .declaration .privacy .radio-wrapper .radio-decline input {
  cursor: pointer;
}
#main .webForm .webForm-inner .form .declaration .privacy .radio-wrapper .radio-decline label::before {
  content: "No";
  text-transform: uppercase;
  font-size: 0.8125em;
  padding-left: 5px;
}
#main .webForm .webForm-inner .form .submit {
  width: 100%;
  margin: 20px;
  text-align: right;
}
#main .webForm .webForm-inner .form .submit input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #000;
  color: #fff;
  height: 40px;
  cursor: pointer;
  padding: 10px 40px;
  font-size: 0.8125em;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
}

@media (min-width: 360px) and (max-width: 767px) {
  #main {
    width: 100%;
    position: relative;
    background: #fff;
    z-index: 3;
    transform: translate3d(0, 0, 0);
  }
  #main .visual {
    width: 100%;
    position: relative;
  }
  #main .visual:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0) 100%);
  }
  #main .visual .visual_container {
    z-index: 6;
  }
  #main .visual .visual_container picture {
    display: block;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  #main .visual .visual_container picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #main .visual .visual_container .visual-text-box {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 8.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    align-items: center;
    height: 100%;
  }
  #main .visual .visual_container .visual-text-box h2 {
    font-size: 2em;
    line-height: 1.03125em;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 100;
    margin-bottom: 10px;
    z-index: 1;
  }
  #main .visual .visual_container .visual-text-box p:nth-of-type(1) {
    font-size: 0.875em;
    line-height: 1.35714em;
    color: #fff;
    margin-bottom: 15px;
    z-index: 1;
    display: none;
  }
  #main .visual .visual_container .visual-text-box p:nth-of-type(2) {
    font-size: 1.25em;
    line-height: 1.25em;
    color: #fff;
    margin-bottom: 70px;
    z-index: 1;
  }
  #main .visual .visual-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.4;
  }
  #main .contact-list {
    padding: 45px 0 45px;
    background: #000;
    color: #fff;
  }
  #main .contact-list .contact-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 25px;
    max-width: 1200px;
    margin: auto;
  }
  #main .contact-list .contact-inner .text-wrapper {
    flex: 0 0 100%;
    width: 100%;
    margin-top: 35px;
    text-align: center;
  }
  #main .contact-list .contact-inner .text-wrapper h4 {
    font-size: 1.875em;
    line-height: 1.266em;
    font-style: italic;
    color: #fff;
    font-weight: 100;
  }
  #main .contact-list .contact-inner .text-wrapper div {
    margin-top: 25px;
    color: #fff;
  }
  #main .contact-list .contact-inner .text-wrapper div p {
    color: inherit;
    line-height: 1.35em;
    font-weight: 400;
  }
  #main .contact-list .contact-inner .text-wrapper div a {
    color: inherit;
  }
  #main .webForm {
    padding: 60px 0;
    background: #f8f5f3;
    color: #000;
  }
  #main .webForm .webForm-inner {
    max-width: 890px;
    padding: 0 40px;
    margin: 0 auto;
  }
  #main .webForm .webForm-inner .webForm-textbox01 {
    text-align: center;
  }
  #main .webForm .webForm-inner .webForm-textbox01 h2 {
    margin-bottom: 10px;
    font-size: 1.875em;
    line-height: 1.33333em;
    font-weight: 100;
  }
  #main .webForm .webForm-inner .webForm-textbox01 p {
    font-size: 1.125em;
    line-height: 1.38889em;
    font-weight: 300;
  }
  #main .webForm .webForm-inner .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 75px;
  }
  #main .webForm .webForm-inner .form .form-item1 {
    flex: 0 0 100%;
    width: 100%;
  }
  #main .webForm .webForm-inner .form .form-item1 .label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.8125em;
    text-transform: uppercase;
    line-height: 1.385em;
    letter-spacing: 2px;
    color: #000;
  }
  #main .webForm .webForm-inner .form .form-item1 .label::after {
    content: "*";
    display: inline-block;
    margin-left: 2px;
    font-size: 0.8em;
    vertical-align: super;
  }
  #main .webForm .webForm-inner .form .form-item1 .input,
#main .webForm .webForm-inner .form .form-item1 select {
    width: 100%;
    color: #484848;
    border: 1px solid #dcdcdc;
    height: 40px;
    font-size: 1em;
    box-sizing: border-box;
  }
  #main .webForm .webForm-inner .form .form-item1 select {
    padding-left: 25px;
    background: white url(../02_image/svg/expand_more_FILL0_wght400_GRAD0_opsz48.svg) no-repeat;
    background-position: right 20px center;
    background-size: 23px auto;
  }
  #main .webForm .webForm-inner .form .formSec {
    margin-top: 20px;
  }
  #main .webForm .webForm-inner .form .form02 {
    position: relative;
    margin-top: 20px;
  }
  #main .webForm .webForm-inner .form .form03 {
    margin-top: 20px;
    flex: 0 0 100%;
    width: 100%;
  }
  #main .webForm .webForm-inner .form .form03 div textarea {
    width: 100%;
    min-height: 200px;
    line-height: 1.25em;
    color: #484848;
    resize: vertical;
    overflow: hidden;
    resize: none;
    font-size: 1em;
    border: none;
  }
  #main .webForm .webForm-inner .form .declaration {
    margin-top: 50px;
  }
  #main .webForm .webForm-inner .form .declaration h4 {
    color: #000;
    font-weight: bold;
  }
  #main .webForm .webForm-inner .form .declaration h5 {
    color: #000;
    margin-top: 7px;
    font-size: 0.875em;
    text-decoration: underline;
    cursor: pointer;
  }
  #main .webForm .webForm-inner .form .declaration .privacy {
    margin-top: 25px;
  }
  #main .webForm .webForm-inner .form .declaration .privacy .privacy-text {
    margin-top: 25px;
  }
  #main .webForm .webForm-inner .form .declaration .privacy .privacy-text p {
    color: #000;
    font-size: 0.875em;
  }
  #main .webForm .webForm-inner .form .declaration .privacy .radio-wrapper {
    margin-top: 5px;
    display: flex;
  }
  #main .webForm .webForm-inner .form .declaration .privacy .radio-wrapper .radio-accept {
    margin-right: 0.5em;
    margin-top: 0;
    position: relative;
    cursor: pointer;
  }
  #main .webForm .webForm-inner .form .declaration .privacy .radio-wrapper .radio-accept input {
    cursor: pointer;
  }
  #main .webForm .webForm-inner .form .declaration .privacy .radio-wrapper .radio-accept label::before {
    content: "Yes";
    text-transform: uppercase;
    font-size: 0.8125em;
    padding-left: 5px;
  }
  #main .webForm .webForm-inner .form .declaration .privacy .radio-wrapper .radio-decline input {
    cursor: pointer;
  }
  #main .webForm .webForm-inner .form .declaration .privacy .radio-wrapper .radio-decline label::before {
    content: "No";
    text-transform: uppercase;
    font-size: 0.8125em;
    padding-left: 5px;
  }
  #main .webForm .webForm-inner .form .submit {
    width: 100%;
    margin: 20px;
    text-align: right;
  }
  #main .webForm .webForm-inner .form .submit input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: #000;
    color: #fff;
    height: 40px;
    cursor: pointer;
    padding: 10px 40px;
    font-size: 0.8125em;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #main {
    width: 100%;
    position: relative;
    background: #fff;
    z-index: 3;
    transform: translate3d(0, 0, 0);
  }
  #main .visual {
    width: 100%;
    position: relative;
  }
  #main .visual:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0) 100%);
  }
  #main .visual .visual_container {
    z-index: 6;
  }
  #main .visual .visual_container picture {
    display: block;
    height: 125vh;
    overflow: hidden;
    position: relative;
  }
  #main .visual .visual_container picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #main .visual .visual_container .visual-text-box {
    width: 100%;
    position: absolute;
    top: 41.3%;
    left: 0;
    padding: 0 8.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
  }
  #main .visual .visual_container .visual-text-box h2 {
    font-size: 3.125em;
    line-height: 1.08em;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 100;
    margin-bottom: 10px;
    z-index: 1;
  }
  #main .visual .visual_container .visual-text-box p:nth-of-type(1) {
    font-size: 0.875em;
    line-height: 1.35714em;
    color: #fff;
    margin-bottom: 15px;
    z-index: 1;
  }
  #main .visual .visual_container .visual-text-box p:nth-of-type(2) {
    font-size: 1.25em;
    line-height: 1.25em;
    color: #fff;
    margin-bottom: 70px;
    z-index: 1;
  }
  #main .visual .visual-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.4;
  }
  #main .contact-list {
    padding: 45px 0 130px;
    background: #000;
    color: #fff;
  }
  #main .contact-list .contact-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 40px;
    max-width: 1200px;
    margin: auto;
  }
  #main .contact-list .contact-inner .text-wrapper {
    flex: 0 0 50%;
    width: 50%;
    margin-top: 75px;
  }
  #main .contact-list .contact-inner .text-wrapper h4 {
    font-size: 1.875em;
    line-height: 1.266em;
    font-style: italic;
    color: #fff;
    font-weight: 100;
  }
  #main .contact-list .contact-inner .text-wrapper div {
    margin-top: 25px;
    color: #fff;
  }
  #main .contact-list .contact-inner .text-wrapper div p {
    color: inherit;
    line-height: 1.35em;
    font-weight: 400;
  }
  #main .contact-list .contact-inner .text-wrapper div a {
    color: inherit;
  }
  #main .webForm {
    padding: 120px 0;
    background: #f8f5f3;
    color: #000;
  }
  #main .webForm .webForm-inner {
    max-width: 890px;
    padding: 0 40px;
    margin: 0 auto;
  }
  #main .webForm .webForm-inner .webForm-textbox01 {
    text-align: center;
  }
  #main .webForm .webForm-inner .webForm-textbox01 h2 {
    margin-bottom: 10px;
    font-size: 2.5em;
    line-height: 1.075em;
    font-weight: 100;
  }
  #main .webForm .webForm-inner .webForm-textbox01 p {
    font-size: 1.25em;
    line-height: 1.5em;
    font-weight: 300;
  }
  #main .webForm .webForm-inner .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 75px;
  }
  #main .webForm .webForm-inner .form .form-item1 {
    flex: 0 0 calc(50% - 20px);
    width: calc(50% - 20px);
  }
  #main .webForm .webForm-inner .form .form-item1 .label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.8125em;
    text-transform: uppercase;
    line-height: 1.385em;
    letter-spacing: 2px;
    color: #000;
  }
  #main .webForm .webForm-inner .form .form-item1 .label::after {
    content: "*";
    display: inline-block;
    margin-left: 2px;
    font-size: 0.8em;
    vertical-align: super;
  }
  #main .webForm .webForm-inner .form .form-item1 .input,
#main .webForm .webForm-inner .form .form-item1 select {
    width: 100%;
    color: #484848;
    border: 1px solid #dcdcdc;
    height: 40px;
    font-size: 1em;
    box-sizing: border-box;
  }
  #main .webForm .webForm-inner .form .form-item1 select {
    padding-left: 25px;
    background: white url(../02_image/svg/expand_more_FILL0_wght400_GRAD0_opsz48.svg) no-repeat;
    background-position: right 20px center;
    background-size: 23px auto;
  }
  #main .webForm .webForm-inner .form .form02 {
    position: relative;
    margin-top: 58px;
  }
  #main .webForm .webForm-inner .form .form03 {
    margin-top: 58px;
    flex: 0 0 100%;
    width: 100%;
  }
  #main .webForm .webForm-inner .form .form03 div textarea {
    width: 100%;
    min-height: 200px;
    line-height: 1.25em;
    color: #484848;
    resize: vertical;
    overflow: hidden;
    resize: none;
    font-size: 1em;
    border: none;
  }
  #main .webForm .webForm-inner .form .declaration {
    margin-top: 50px;
  }
  #main .webForm .webForm-inner .form .declaration h4 {
    color: #000;
    font-weight: bold;
  }
  #main .webForm .webForm-inner .form .declaration h5 {
    color: #000;
    margin-top: 7px;
    font-size: 0.875em;
    text-decoration: underline;
    cursor: pointer;
  }
  #main .webForm .webForm-inner .form .declaration .privacy {
    margin-top: 25px;
  }
  #main .webForm .webForm-inner .form .declaration .privacy .privacy-text {
    margin-top: 25px;
  }
  #main .webForm .webForm-inner .form .declaration .privacy .privacy-text p {
    color: #000;
    font-size: 0.875em;
  }
  #main .webForm .webForm-inner .form .declaration .privacy .radio-wrapper {
    margin-top: 5px;
    display: flex;
  }
  #main .webForm .webForm-inner .form .declaration .privacy .radio-wrapper .radio-accept {
    margin-right: 0.5em;
    margin-top: 0;
    position: relative;
    cursor: pointer;
  }
  #main .webForm .webForm-inner .form .declaration .privacy .radio-wrapper .radio-accept input {
    cursor: pointer;
  }
  #main .webForm .webForm-inner .form .declaration .privacy .radio-wrapper .radio-accept label::before {
    content: "Yes";
    text-transform: uppercase;
    font-size: 0.8125em;
    padding-left: 5px;
  }
  #main .webForm .webForm-inner .form .declaration .privacy .radio-wrapper .radio-decline input {
    cursor: pointer;
  }
  #main .webForm .webForm-inner .form .declaration .privacy .radio-wrapper .radio-decline label::before {
    content: "No";
    text-transform: uppercase;
    font-size: 0.8125em;
    padding-left: 5px;
  }
  #main .webForm .webForm-inner .form .submit {
    width: 100%;
    margin: 20px;
    text-align: right;
  }
  #main .webForm .webForm-inner .form .submit input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: #000;
    color: #fff;
    height: 40px;
    cursor: pointer;
    padding: 10px 40px;
    font-size: 0.8125em;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
  }
}/*# sourceMappingURL=05_contact_main.css.map */