@import url(./00_common.css);
#main {
  width: 100%;
  background: #000;
  transition: 1000ms;
  position: relative;
  z-index: 3;
}
#main .logIn-inner {
  max-width: 1280px;
  padding: 0 40px;
  margin: auto;
  z-index: 4;
}
#main .logIn-inner .visual {
  width: 100%;
  position: relative;
}
#main .logIn-inner .visual .visual_container {
  padding: 350px 40px 120px;
}
#main .logIn-inner .visual .visual_container .visual-text-box p {
  margin-bottom: 15px;
  font-size: 0.875em;
  line-height: 1.35714em;
  letter-spacing: 1px;
  color: #fff;
}
#main .logIn-inner .visual .visual_container .visual-text-box h2 {
  font-size: 4.375em;
  line-height: 1.11429em;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 100;
}
#main .logIn-inner .visual .visual_container .visual-text-box h2 span {
  display: inline-block;
  opacity: 0;
  font-family: "BDT";
  color: #fff;
  padding: 2px;
}
#main .logIn-inner .log-in-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 250px;
}
#main .logIn-inner .log-in-wrapper .log-in-block {
  background-color: #fff;
  flex: 0 0 43.5%;
  width: 43.5%;
  padding: 40px;
}
#main .logIn-inner .log-in-wrapper .log-in-block h2 {
  font-style: italic;
  font-size: 1.375em;
  line-height: 1.45455em;
}
#main .logIn-inner .log-in-wrapper .log-in-block form {
  margin-top: 145px;
}
#main .logIn-inner .log-in-wrapper .log-in-block form .eMail {
  margin-top: 40px;
}
#main .logIn-inner .log-in-wrapper .log-in-block form .eMail label {
  display: block;
  margin-bottom: 8px;
  font-size: 0.8125em;
  line-height: 1.38462em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#main .logIn-inner .log-in-wrapper .log-in-block form .eMail label::after {
  content: "*";
  display: inline-block;
  margin-left: 2px;
  font-size: 0.85em;
  vertical-align: text-top;
}
#main .logIn-inner .log-in-wrapper .log-in-block form .eMail input {
  width: 100%;
  height: 40px;
  border: #dcdcdc solid 1px;
  padding: 0 10px;
}
#main .logIn-inner .log-in-wrapper .log-in-block form .password {
  margin-top: 40px;
}
#main .logIn-inner .log-in-wrapper .log-in-block form .password label {
  display: block;
  margin-bottom: 8px;
  font-size: 0.8125em;
  line-height: 1.38462em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#main .logIn-inner .log-in-wrapper .log-in-block form .password label::after {
  content: "*";
  display: inline-block;
  margin-left: 2px;
  font-size: 0.85em;
  vertical-align: text-top;
}
#main .logIn-inner .log-in-wrapper .log-in-block form .password input {
  width: 100%;
  height: 40px;
  border: #dcdcdc solid 1px;
  padding: 0 10px;
}
#main .logIn-inner .log-in-wrapper .log-in-block form .logInBtn {
  margin-top: 65px;
  text-align: right;
}
#main .logIn-inner .log-in-wrapper .log-in-block form .logInBtn button {
  display: inline-block;
  padding: 10px 40px;
  font-size: 0.8125em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #000;
  color: #fff;
}
#main .logIn-inner .log-in-wrapper .log-in-block form a {
  display: block;
  margin-top: 40px;
  text-align: right;
  color: #000;
  display: block;
  margin-top: 40px;
  text-align: right;
  color: #000;
  text-decoration: underline;
}
#main .logIn-inner .log-in-wrapper .register-block {
  flex: 0 0 50%;
  width: 50%;
  padding: 40px 0 0 0;
}
#main .logIn-inner .log-in-wrapper .register-block h2 {
  font-style: italic;
  font-size: 1.375em;
  line-height: 1.45455em;
  color: #fff;
  font-weight: 100;
}
#main .logIn-inner .log-in-wrapper .register-block form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
#main .logIn-inner .log-in-wrapper .register-block form .form-item1 {
  flex: 0 0 47%;
  width: 47%;
  display: block;
  margin-top: 40px;
}
#main .logIn-inner .log-in-wrapper .register-block form .form-item1 .label {
  display: block;
  margin-bottom: 8px;
  font-size: 0.8125em;
  line-height: 1.38462em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}
#main .logIn-inner .log-in-wrapper .register-block form .form-item1 .label::after {
  content: "*";
  display: inline-block;
  margin-left: 2px;
  font-size: 0.85em;
  vertical-align: text-top;
}
#main .logIn-inner .log-in-wrapper .register-block form .form-item1 .input,
#main .logIn-inner .log-in-wrapper .register-block form .form-item1 select {
  padding: 0 10px;
  width: 100%;
  border: #dcdcdc solid 1px;
  height: 40px;
}
#main .logIn-inner .log-in-wrapper .register-block form .form-item1 select {
  padding-left: 25px;
  background: white url(../02_image/svg/expand_more_FILL0_wght400_GRAD0_opsz48.svg) no-repeat;
  background-position: right 20px center;
  background-size: 23px auto;
}
#main .logIn-inner .log-in-wrapper .register-block form .form05 {
  flex: 0 0 100%;
  width: 100%;
}
#main .logIn-inner .log-in-wrapper .register-block form .subsCheck {
  margin-top: 50px;
}
#main .logIn-inner .log-in-wrapper .register-block form .subsCheck,
#main .logIn-inner .log-in-wrapper .register-block form .declaration {
  flex: 0 0 100%;
  width: 100%;
}
#main .logIn-inner .log-in-wrapper .register-block form .subsCheck .label,
#main .logIn-inner .log-in-wrapper .register-block form .declaration .label {
  display: inline-block;
  font-size: 0.8125em;
  line-height: 1.38462em;
  letter-spacing: 0.5px;
  color: #fff;
  position: relative;
  padding: 1px 0 0 0;
}
#main .logIn-inner .log-in-wrapper .register-block form .subsCheck .input,
#main .logIn-inner .log-in-wrapper .register-block form .declaration .input {
  position: relative;
  left: 0;
}
#main .logIn-inner .log-in-wrapper .register-block form .submit {
  text-align: right;
  flex: 0 0 100%;
}
#main .logIn-inner .log-in-wrapper .register-block form .submit #submit {
  margin-top: 50px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border-color: #fff;
  cursor: pointer;
  height: 40px;
  display: inline-block;
  padding: 10px 40px;
  font-size: 0.8125em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#preFooter {
  display: none;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 50px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes revealOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=10_log_in.css.map */