$mobile: 360px;
$tablet: 768px;
@mixin device($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}

@include device($mobile, 767px) {
  // mobile
  body {
    width: 100%;
    position: relative;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  #header {
    position: sticky;
    top: 0;
    z-index: 98;
    .header-content01 {
      height: 70px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-bottom: none;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      padding: 20px 25px 14px 25px;
      transition: 500ms;
      &:hover {
        transition: 0ms;
        background: none;
      }
      &:hover .search-btn svg {
        fill: #fff;
      }
      // search button
      .search-btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 20px;
        left: 40px;
        display: block;
        width: 25px;
        height: 25px;
        padding: 3px;
        z-index: 2;
        cursor: pointer;
        z-index: 4;
        span {
          svg {
            fill: #fff;
            &.burger-open {
              fill: black;
            }
          }
        }
        .sml-logo {
          position: absolute;
          top: 0px;
          left: 80px;
          width: 100%;
          height: 45px;
          overflow: hidden;
          svg {transform: translateY(-100px);
            transition: 500ms;
          }
        }
      }
      .search-active {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0vh;
        background: #f8f5f3;
        overflow: hidden;
        &.search-open {
          z-index: 3;
          animation: gnbEffect 250ms forwards cubic-bezier(0.7, 0, 0.27, 0.98);
        }
        .search-wrapper {
          max-width: 1280px;
          padding: 0 40px;
          margin: auto;
          height: 100%;
          .search-active-top {
            position: absolute;
            top: 20px;
            right: 30px;
            span {
              font-weight: 200;
              cursor: pointer;
            }
          }
          .search-active-bottom {
            margin: 0 auto;
            position: relative;
            top: 35%;
            left: 0;
            input {
              width: 100%;
              border: none;
              background: transparent;
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);
              font-size: 2em;
              line-height: 1.03125em;
              font-family: "BDT";
              font-weight: 100;
              outline: none;
              opacity: 0;
              // transition: 2500ms;
              &.search-open {
                opacity: 1;
                transition: 1000ms;
              }
            }
            // .searching {
            // }
          }
        }
      }
      // gnb bar
      .gnb {
        &.burger-open {
          display: block;
          // transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
          animation: gnbEffect 250ms forwards cubic-bezier(0.7, 0, 0.27, 0.98);
          z-index: -1;
          li {
            animation: gnbEffect1 1000ms forwards
              cubic-bezier(0.7, 0, 0.27, 0.98);
          }
        }
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: #f8f5f3;
        width: 100%;
        height: 0vh;
        color: black;
        transition: 2000ms;
        .gnb-list {
          display: block;
          padding: 120px 0;
          justify-content: center;
          margin: 0 auto;
        }
        li {
          // opacity: 1;
          padding: 40px 25px;
          transform: translateY(50px);
          a {
            font-size: 0.8125em;
            line-height: 1.38462em;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #fff;
          }
        }
      }
      // service menu
      .service-menu {
        display: none;
        position: absolute;
        top: 27px;
        right: 40px;
        .log-in {
          a {
            font-size: 0.8125em;
            color: #fff;
          }
        }
        .lang-selector {
          margin-left: 40px;
          transition: 500ms;
          &:hover .lang-options {
            display: flex;
          }
          span {
            display: block;
            position: relative;
            cursor: pointer;
            z-index: 2;
            font-size: 0.8125em;
            line-height: 1.38462em;
            color: #fff;
          }
          .lang-options {
            top: -27px;
            right: -40px;
            height: 70px;
            padding: 0 60px 0 40px;
            display: none;
            align-items: center;
            position: absolute;
            z-index: 1;
            background-color: #f8f5f3;
            .it {
              opacity: 1;
              margin-right: 30px;
              a {
                font-size: 0.8125em;
                color: #000;
              }
            }
            .ru {
              margin-right: 30px;
              a {
                font-size: 0.8125em;
                color: #000;
              }
            }
            .zh {
              margin-right: 30px;
              a {
                font-size: 0.8125em;
                color: #000;
              }
            }
          }
        }
      }
      // logo
      .logo {
        position: relative;
        top: 50px;
        width: 226px;
        overflow: hidden;
        margin: 0 auto;
        #logo {
          width: 100%;
          height: 100%;
          z-index: 10;
          transition: 500ms;
        }
        #typo {
          fill: #fff;
          &.burger-open {
            fill: #000;
          }
        }
      }
      // burger
      .burger-menu {
        &.burger-open {
          span:nth-child(1) {
            background-color: #000;
            transform: translateY(4px) rotate(45deg);
            transition: 500ms;
          }
          span:nth-child(2) {
            background-color: #000;
            transform: translateY(-4px) rotate(-45deg);
            transition: 500ms;
          }
        }
        width: 25px;
        height: 25px;
        margin-top: 5px;
        box-sizing: border-box;
        position: absolute;
        cursor: pointer;
        // z-index: 2;
        span:nth-child(1) {
          margin-top: 8px;
          display: block;
          width: 23px;
          height: 1px;
          background-color: #fff;
          transform: translateY(-0) rotate(0);
          transition: 500ms;
        }
        span:nth-child(2) {
          margin-top: 7px;
          display: block;
          width: 23px;
          height: 1px;
          background-color: #fff;
          transform: translateY(-0) rotate(0);
          transition: 500ms;
        }
      }
      // cookie-btn
      .cookie-btn {
        position: fixed;
        left: 20px;
        bottom: 20px;
        transform: scale(2);
        z-index: 98;
      }
    }
  }
  // header-end
  // pre-footer-start
  #preFooter {
    position: relative;
    z-index: 2;
    background-color: #212121;
    transform: translate3d(0, 0, 0);
    .pre-footer-inner {
      .footer-content01 {
        max-width: 540px;
        padding: 60px 25px 80px 25px;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        h2 {
          font-size: 1em;
          line-height: 1.0625em;
          text-transform: uppercase;
          color: #fff;
          font-weight: 100;
        }
        h3 {
          font-size: 1.875em;
          line-height: 1.33333em;
          margin-top: 10px;
          color: #fff;
          font-weight: 100;
        }
        p {
          font-size: 1em;
          line-height: normal;
          margin-top: 16px;
          font-weight: 100;
          color: #fff;
        }
        form {
          display: block;
          margin-top: 25px;
          width: 100%;
          input:nth-of-type(1) {
            padding: 0 25px;
            border: #dcdcdc solid 1px;
            appearance: none;
            border-radius: 0;
            border-right: none;
            height: 40px;
            width: 100%;
            font-size: 1em;
            box-sizing: border-box;
          }
          input:nth-of-type(2) {
            height: 40px;
            display: inline-block;
            padding: 10px 40px;
            font-size: 0.8125em;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            background: transparent;
            border: 1px solid;
            color: #fff;
            font-weight: 100;
            box-sizing: border-box;
            margin-top: 25px;
            font-family: "Roboto2";
          }
        }
      }
    }
  }
  // pre-footer-end
  // footer-start
  #footer {
    position: sticky;
    bottom: 0;
    padding: 75px 25px 30px;
    line-height: 1.46em;
    z-index: 1;
    color: #fff;
    background: #000;
    .footer-content {
      text-align: center;
      line-height: 1.92308em;
      .footer-logo {
        color: #fff;
        svg {
          width: 47px;
          height: 60px;
          fill: #fff;
        }
      }
      .footer-company {
        margin-top: 10px;
        p:nth-child(1) {
          font-size: 0.8125em;
          line-height: 1.92308em;
          color: #fff;
        }
        p:nth-child(2) {
          font-size: 0.8125em;
          line-height: 1.92308em;
          color: #fff;
        }
      }
      .footer-item02 {
        margin-top: 15px;
        display: block;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        .address {
          margin-top: 30px;
          flex-shrink: 0;
          flex-basis: 28.525%;
          p:nth-child(1) {
            font-size: 0.8125em;
            line-height: 1.92308em;
            color: #fff;
          }
          p:nth-child(2) {
            font-size: 0.8125em;
            line-height: 1.92308em;
            color: #fff;
          }
        }
        .contacts {
          margin-top: 30px;
          display: block;
          flex-grow: 0;
          p:nth-child(1) {
            a {
              font-size: 0.8125em;
              line-height: 1.92308em;
              color: #fff;
            }
          }
          p:nth-child(2) {
            a {
              font-size: 0.8125em;
              line-height: 1.92308em;
              color: #fff;
            }
          }
        }
        .social {
          flex-basis: 100%;
          flex-shrink: 0;
          width: 100%;
          margin-top: 30px;
          p {
            font-size: 0.8125em;
            line-height: 1.92308em;
            color: #fff;
          }
          ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li:nth-child(1)::before {
              display: none;
            }
            li {
              &::before {
                content: "/";
                display: inline-block;
                padding: 0 5px;
                color: #fff;
              }
              a {
                font-size: 0.8125em;
                line-height: 1.92308em;
                color: #fff;
              }
            }
          }
        }
      }
      .footer-item03 {
        display: block;
        padding-top: 35px;
        margin-top: 25px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        justify-content: space-between;
        .copyright {
          flex-shrink: 1;
          flex-basis: auto;
          p {
            font-size: 0.8125em;
            line-height: 1.92308em;
            color: #fff;
          }
        }
        .service {
          flex-grow: 0;
          margin-top: 30px;
          ul {
            display: flex;
            justify-content: center;
            li:nth-child(1) {
              a {
                font-size: 0.8125em;
                line-height: 1.92308em;
                color: #fff;
              }
            }
            li:nth-child(2) {
              margin-left: 45px;
              a {
                font-size: 0.8125em;
                line-height: 1.92308em;
                color: #fff;
              }
            }
            li:nth-child(3) {
              margin-left: 45px;
              a {
                font-size: 0.8125em;
                line-height: 1.92308em;
                color: #fff;
              }
            }
          }
        }
        .language {
          ul {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            li:nth-child(1) {
              a {
                font-size: 0.8125em;
                line-height: 1.92308em;
                color: #fff;
                text-transform: uppercase;
              }
            }
            li:nth-child(2) {
              a {
                font-size: 0.8125em;
                line-height: 1.92308em;
                color: #fff;
                text-transform: uppercase;
              }
            }
            li:nth-child(2):before {
              content: "\B7";
              display: inline-block;
              padding: 0 10px;
              font-size: 25px;
              vertical-align: middle;
              color: #fff;
            }
          }
        }
      }
    }
  }
  // footer-end
  // cookie-btn
  .cookie-btn {
    position: fixed;
    left: 20px;
    bottom: 20px;
    transform: scale(2);
    z-index: 98;
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////
@include device($tablet, 1024px) {
  // tablet
  body {
    width: 100%;
    position: relative;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  #header {
    position: sticky;
    top: 0;
    z-index: 98;
    .header-content01 {
      height: 70px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-bottom: none;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;
      padding: 20px 25px 14px 25px;
      transition: 500ms;
      &:hover {
        transition: 0ms;
        background: none;
      }
      &:hover .search-btn svg {
        fill: white;
      }
      .search-btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 20px;
        left: 40px;
        display: block;
        width: 25px;
        height: 25px;
        padding: 3px;
        z-index: 2;
        cursor: pointer;
        z-index: 4;
        span {
          svg {
            fill: #fff;
            &.burger-open {
              fill: black;
            }
          }
        }
        .sml-logo {
          position: absolute;
          top: 0px;
          left: 80px;
          width: 100%;
          height: 45px;
          overflow: hidden;
          svg {
            transition: 500ms;
          }
        }
      }
      .search-active {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0vh;
        background: #f8f5f3;
        overflow: hidden;
        &.search-open {
          z-index: 3;
          animation: gnbEffect 250ms forwards cubic-bezier(0.7, 0, 0.27, 0.98);
        }
        .search-wrapper {
          max-width: 1280px;
          padding: 0 40px;
          margin: auto;
          height: 100%;
          .search-active-top {
            position: absolute;
            top: 30px;
            right: 30px;
            span {
              font-weight: 200;
              cursor: pointer;
            }
          }
          .search-active-bottom {
            margin: 0 auto;
            position: relative;
            top: 35%;
            left: 0;
            input {
              width: 100%;
              border: none;
              background: transparent;
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);
              font-size: 3.125em;
              line-height: 1.08em;
              font-family: "BDT";
              font-weight: 100;
              outline: none;
              opacity: 0;
              // transition: 2500ms;
              &.search-open {
                opacity: 1;
                transition: 1000ms;
              }
            }
            // .searching {
            // }
          }
        }
      }
      // gnb bar 수정중수정중수정중
      .gnb {
        &.burger-open {
          display: block;
          // transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
          animation: gnbEffect 250ms forwards cubic-bezier(0.7, 0, 0.27, 0.98);
          z-index: -1;
          li {
            animation: gnbEffect1 1000ms forwards
              cubic-bezier(0.7, 0, 0.27, 0.98);
          }
        }
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: #f8f5f3;
        width: 100%;
        height: 0vh;
        color: black;
        .gnb-list {
          display: block;
          padding: 120px 0;
          justify-content: center;
          margin: 0 auto;
        }
        li {
          // opacity: 1;
          padding: 40px 25px;
          a {
            font-size: 0.8125em;
            line-height: 1.38462em;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: black;
            &.burger-open {
              color: black;
            }
          }
        }
      }
      // service menu
      .service-menu {
        display: none;
        position: absolute;
        top: 27px;
        right: 40px;
        .log-in {
          a {
            font-size: 0.8125em;
            color: #fff;
          }
        }
        .lang-selector {
          margin-left: 40px;
          transition: 500ms;
          &:hover .lang-options {
            display: flex;
          }
          span {
            display: block;
            position: relative;
            cursor: pointer;
            z-index: 2;
            font-size: 0.8125em;
            line-height: 1.38462em;
            color: #fff;
          }
          .lang-options {
            top: -27px;
            right: -40px;
            height: 70px;
            padding: 0 60px 0 40px;
            display: none;
            align-items: center;
            position: absolute;
            z-index: 1;
            background-color: #f8f5f3;
            .it {
              opacity: 1;
              margin-right: 30px;
              a {
                font-size: 0.8125em;
                color: #000;
              }
            }
            .ru {
              margin-right: 30px;
              a {
                font-size: 0.8125em;
                color: #000;
              }
            }
            .zh {
              margin-right: 30px;
              a {
                font-size: 0.8125em;
                color: #000;
              }
            }
          }
        }
      }
      .logo {
        position: relative;
        top: 50px;
        width: 226px;
        overflow: hidden;
        margin: 0 auto;
        #logo {
          width: 100%;
          height: 100%;
          z-index: 10;
          transition: 500ms;
        }
        #typo {
          fill: #fff;
          &.burger-open {
            fill: #000;
          }
        }
      }
      .burger-menu {
        &.burger-open {
          span:nth-child(1) {
            background-color: #000;
            transform: translateY(4px) rotate(45deg);
            transition: 500ms;
          }
          span:nth-child(2) {
            background-color: #000;
            transform: translateY(-4px) rotate(-45deg);
            transition: 500ms;
          }
        }
        width: 25px;
        height: 25px;
        margin-top: 5px;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        // z-index: 2;
        span:nth-child(1) {
          margin-top: 8px;
          display: block;
          width: 23px;
          height: 1px;
          background-color: #fff;
          transform: translateY(-0) rotate(0);
          transition: 500ms;
        }
        span:nth-child(2) {
          margin-top: 7px;
          display: block;
          width: 23px;
          height: 1px;
          background-color: #fff;
          transform: translateY(-0) rotate(0);
          transition: 500ms;
        }
      }
      // cookie-btn
      .cookie-btn {
        position: fixed;
        left: 20px;
        bottom: 20px;
        transform: scale(2);
        z-index: 98;
      }
    }
  }
  // header-end
  // pre-footer-start
  #preFooter {
    position: relative;
    z-index: 2;
    background-color: #212121;
    transform: translate3d(0, 0, 0);
    .pre-footer-inner {
      .footer-content01 {
        max-width: 540px;
        padding: 60px 25px 80px 25px;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        h2 {
          font-size: 1em;
          line-height: 1.0625em;
          text-transform: uppercase;
          color: #fff;
          font-weight: 100;
        }
        h3 {
          font-size: 2.5em;
          line-height: 1.325em;
          margin-top: 10px;
          color: #fff;
          font-weight: 100;
        }
        p {
          font-size: 1.25em;
          line-height: 1.5em;
          margin-top: 16px;
          font-weight: 100;
          color: #fff;
        }
        form {
          display: flex;
          margin-top: 25px;
          width: 100%;
          input:nth-of-type(1) {
            padding: 0 25px;
            border: #dcdcdc solid 1px;
            appearance: none;
            border-radius: 0;
            border-right: none;
            height: 40px;
            width: 100%;
            font-size: 1em;
            box-sizing: border-box;
          }
          input:nth-of-type(2) {
            height: 40px;
            display: inline-block;
            padding: 10px 40px;
            font-size: 0.8125em;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            background: transparent;
            border: 1px solid;
            border-left: none;
            color: #fff;
            font-weight: 100;
            box-sizing: border-box;
            margin: 0;
            font-family: "Roboto2";
          }
        }
      }
    }
  }
  // pre-footer-end
  // footer-start
  #footer {
    position: sticky;
    bottom: 0;
    padding: 50px 8.5%;
    line-height: 1.46em;
    z-index: 1;
    color: #fff;
    background: #000;
    .footer-content {
      .footer-logo {
        color: #fff;
        svg {
          width: 47px;
          height: 60px;
          fill: #fff;
        }
      }
      .footer-company {
        margin-top: 35px;
        p:nth-child(1) {
          font-size: 0.8125em;
          line-height: 1.46em;
          color: #fff;
        }
        p:nth-child(2) {
          font-size: 0.8125em;
          line-height: 1.46em;
          color: #fff;
        }
      }
      .footer-item02 {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        .address {
          flex-shrink: 0;
          flex-basis: 28.525%;
          p:nth-child(1) {
            font-size: 0.8125em;
            line-height: 1.46em;
            color: #fff;
          }
          p:nth-child(2) {
            font-size: 0.8125em;
            line-height: 1.46em;
            color: #fff;
          }
        }
        .contacts {
          display: flex;
          flex-grow: 0;
          p:nth-child(1) {
            &::after {
              content: "-";
              margin: 0 10px;
              color: #fff;
            }
            a {
              font-size: 0.8125em;
              line-height: 1.46em;
              color: #fff;
            }
          }
          p:nth-child(2) {
            a {
              font-size: 0.8125em;
              line-height: 1.46em;
              color: #fff;
            }
          }
        }
        .social {
          flex-basis: 100%;
          flex-shrink: 0;
          width: 100%;
          margin-top: 15px;
          p {
            font-size: 0.8125em;
            line-height: 1.46em;
            color: #fff;
          }
          ul {
            display: flex;
            flex-wrap: wrap;
            li:nth-child(1)::before {
              display: none;
            }
            li {
              &::before {
                content: "/";
                display: inline-block;
                padding: 0 5px;
                color: #fff;
              }
              a {
                font-size: 0.8125em;
                line-height: 1.46em;
                color: #fff;
              }
            }
          }
        }
      }
      .footer-item03 {
        display: flex;
        padding-top: 35px;
        margin-top: 25px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        justify-content: space-between;
        .copyright {
          flex-shrink: 1;
          flex-basis: auto;
          p {
            font-size: 0.8125em;
            line-height: 1.46em;
            color: #fff;
          }
        }
        .service {
          flex-grow: 0;
          ul {
            display: flex;
            li:nth-child(1) {
              a {
                font-size: 0.8125em;
                line-height: 1.46em;
                color: #fff;
              }
            }
            li:nth-child(2) {
              margin-left: 45px;
              a {
                font-size: 0.8125em;
                line-height: 1.46em;
                color: #fff;
              }
            }
            li:nth-child(3) {
              margin-left: 45px;
              a {
                font-size: 0.8125em;
                line-height: 1.46em;
                color: #fff;
              }
            }
          }
        }
        .language {
          ul {
            display: flex;
            li:nth-child(1) {
              a {
                font-size: 0.8125em;
                line-height: 1.46em;
                color: #fff;
                text-transform: uppercase;
              }
            }
            li:nth-child(2) {
              a {
                font-size: 0.8125em;
                line-height: 1.46em;
                color: #fff;
                text-transform: uppercase;
              }
            }
            li:nth-child(2):before {
              content: "\B7";
              display: inline-block;
              padding: 0 10px;
              font-size: 25px;
              vertical-align: middle;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
// footer-end

@keyframes gnbEffect {
  0% {
    height: 0px;
  }
  100% {
    height: 100vh;
  }
}
@keyframes gnbEffect1 {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes gnbTranslate {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}
